{% extends 'base_back.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1>Contact index</h1>
    <div class="row justify-content-center">

        <div class="col-xl-10">

            <div class="row">


                <div id="responsiveTables" class="mb-5">

                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>Email</th>
                                            <th>Tel</th>
                                            <th>Sujet</th>
                                            <th>Message</th>
                                            <th>actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for contact in contacts %}
                                            <tr>
                                                <td>{{ contact.id }}</td>
                                                <td>{{ contact.nom }}</td>
                                                <td>{{ contact.prenom }}</td>
                                                <td>{{ contact.email }}</td>
                                                <td>{{ contact.tel }}</td>
                                                <td>{{ contact.sujet }}</td>
                                                <td>{{ contact.message }}</td>
                                                <td>
                                                    <a href="{{ path('app_contact_show', {'id': contact.id}) }}">show</a>
                                                    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}">edit</a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="8">no records found</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('app_contact_new') }}">Create new</a>
{% endblock %}
