{% extends 'base_no_jquery.html.twig' %}

{% block title %}Voitures{% endblock %}

{% block body %}
    <style>
        #datetimepicker2, #datetimepicker3{
            color-scheme: dark;
        }
    </style>
    <div class="r-slider-serach r-slider-serach-down form-search dark">
        <div class="container">
            <div class="r-top-form-title animated fadeInUp">
                <span>Un grand choix de véhicules &  +30ANS d'expérience</span>
                <h3>Trouvez la voiture qui vous convient chez<b> Tej Rent Car</b></h3>
            </div>

            <form action="" method="post" name="form_reserv">
                <div class="row row-inputs">
                    <div class="col-sm-6">
                        <div class="form-group has-icon has-label">
                            <label>Lieu de Prise</label>
                            <select class="form-control" id="lieu_prise" name="lieu_prise">
                                <option value="Aéroport Tunis Carthage">A&eacute;roport Tunis Carthage</option>
                                <option value="Aéroport enfidha">A&eacute;roport enfidha</option>
                                <option value="Aéroport monastir">A&eacute;roport monastir</option>
                                <option value="Aéroport Djerba">A&eacute;roport Djerba</option>
                                <option value="Tunis">Tunis</option>
                                <option value="Nabeul">Nabeul</option>
                                <option value="Hammamet">Hammamet</option>
                                <option value="Sousse">Sousse</option>
                                <option value="Sfax">Sfax</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-icon has-label">
                            <label>Lieu de Prise</label>
                            <select class="form-control" id="lieu_reprise" name="lieu_reprise">
                                <option value="Aéroport Tunis Carthage">A&eacute;roport Tunis Carthage</option>
                                <option value="Aéroport enfidha">A&eacute;roport enfidha</option>
                                <option value="Aéroport monastir">A&eacute;roport monastir</option>
                                <option value="Aéroport Djerba">A&eacute;roport Djerba</option>
                                <option value="Tunis">Tunis</option>
                                <option value="Nabeul">Nabeul</option>
                                <option value="Hammamet">Hammamet</option>
                                <option value="Sousse">Sousse</option>
                                <option value="Sfax">Sfax</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group has-icon has-label label" id="txtDate1"
                             data-target-input="nearest">
                            <label>Date de Prise</label>
                            <input id="datetimepicker2" name="date_debut" type="date" class="form-control datepicker">
{#                            <span class="form-control-icon"><i class="fa fa-calendar"></i></span>#}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group has-icon has-label date" data-target-input="nearest">
                            <label>Heure de prise</label>
                            <select class="form-control" id="heure_debut" name="heure_debut">
                                {% for i in range(0, 23) %}
                                    {% if i <= 9 %}
                                        <option value="0{{ i }}h:00">0{{ i }}h:00</option>
                                    {% else %}
                                        <option value="{{ i }}h:00">{{ i }}h:00</option>
                                    {% endif %}
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group has-icon has-label label" id="txtDate2"
                             data-target-input="nearest">
                            <label>Date de reprise</label>
                            <input id="datetimepicker3" name="date_fin" type="date" class="form-control datepicker">
{#                            <span class="form-control-icon"><i class="fa fa-calendar"></i></span>#}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group has-icon has-label date" data-target-input="nearest">
                            <label>Heure de reprise</label>
                            <select class="form-control" id="heure_fin" name="heure_fin">
                                {% for i in range(0, 23) %}
                                    {% if i <= 9 %}
                                        <option value="0{{ i }}h:00">0{{ i }}h:00</option>
                                    {% else %}
                                        <option value="{{ i }}h:00">{{ i }}h:00</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="r-car-filter-area">

                        </div>


                    </div>
                    <div class="col-12 mb-3">
                        <hr>
                    </div>
                    <div class="inner col-12 clearfix">
                        <button type="submit" class="btn m-auto d-block float-right btn-full">RESERVER VOITURE</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <section class="r-car-showcase-wrapper">
        <div class="r-best-vehicles">
            <div class="container">
                <div class="row">

                    {# <style> #}
                    {# .selectric-scroll ul li{ #}
                    {# padding-left: 31px; #}
                    {# } #}
                    {# .selectric-scroll ul li:first-child{ #}
                    {# padding-left: 10px; #}
                    {# font-weight:bold #}
                    {# } #}

                    {# .selectric-scroll ul li.selected{ #}
                    {# padding-left: 15px; #}
                    {# } #}
                    {# .selectric-scroll ul li.selected:before{ #}
                    {# content: '✔'; #}
                    {# padding-right: 5px; #}
                    {# } #}
                    {# </style> #}
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="r-car-filter-area">
                            <form action="" method="post" name="search_form">
                                <div class="row">

                                    <div class=" col-lg-3 col-md-12 col-sm-12">
                                        <div class="selectric-wrapper selectric-custom-select selectric-filter-select selectric-below"></div>
                                        <br>
                                        <select class="form-select filter-select" data-tag="transmission" id="get_value"
                                                name="_transmission">
                                            <option disabled selected>Transmission</option>
                                            <option value="Automatique">Automatique</option>
                                            <option value="Manuelle">Manuelle</option>
                                        </select>
                                    </div>
                                    <div class=" col-lg-3 col-md-12 col-sm-12">
                                        <br>
                                        <select class="form-select" aria-label="Default select example"
                                                name="_categorie">
                                            <option value="" disabled="disabled" selected>Catégorie</option>
                                            {% for categorie in categories %}
                                                <option value="{{ categorie }}">{{ categorie }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class=" col-lg-3 col-md-12 col-sm-12">
                                        <br>
                                        <select class="form-select" aria-label="Default select example"
                                                name="_carburant">
                                            <option value="" disabled="disabled" selected>Carburant</option>
                                            {% for carburant in carburants %}
                                                <option value="{{ carburant }}">{{ carburant }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class=" col-lg-3 col-md-12 col-sm-12">
                                        <button type="submit" class="btn m-auto d-block float-right btn-full">Chercher
                                        </button>
                                    </div>
                                    <br>
{#                                    <div class="inner col-12 clearfix">#}
                                        {# <button type="submit" class="btn m-auto d-block float-right btn-full">Chercher</button> #}
{#                                    </div>#}
                                </div>
                            </form>

                        </div>


                        <div class="r-car-showcase">
                            <div class="row clearfix r-best-offer-list">


                                {% for voiture in voitures %}
                                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 car-result">

                                        <form action="https://www.tejrentcar.com/booking.php" method="post" id="book1">

                                            <input type="hidden" name="vhid" value="1"/>
                                            <input type="hidden" name="date_debut" value=""/>
                                            <input type="hidden" name="date_fin" value=""/>
                                            <input type="hidden" name="heure_debut" value=""/>
                                            <input type="hidden" name="heure_fin" value=""/>
                                            <input type="hidden" name="lieu_prise" value=""/>
                                            <input type="hidden" name="lieu_reprise" value=""/>

                                            {# <div class="r-best-offer-single"> #}
                                            {# <div class="r-best-offer-in"> #}
                                            {# <div class="r-offer-img"> #}
                                            {# <a class="d-inline-block" href="booking0e5f.html?vhid=1"><img src="admin/img/vehicleimages/CALSS%20e.jpg" class="img-fluid d-block m-auto" alt=""></a> #}

                                            {# </div> #}
                                            {# <div class="r-best-offer-content"> #}
                                            {# <a href="booking0e5f.html?vhid=1"><b>Mercedes E180</b> VIP </a> #}
                                            {# <p><b>190 €</b> /Jour</p> #}


                                            {# <ul class="pl-0 mb-0"> #}
                                            {# <li><i class="fa fa-car"></i><span>2020</span></li> #}
                                            {# <li><i class="fa fa-cogs"></i><span>Automatique</span></li> #}
                                            {# <li><i class="fa fa-beer"></i><span>Essence</span></li> #}
                                            {# <li><i class="fa fa-users"></i><span>5</span></li> #}
                                            {# <li><i class="fa fa-briefcase"></i><span>540L</span></li> #}
                                            {# <li><i class="fa fa-snowflake-o"></i><span>Oui</span></li>								  </ul> #}
                                            {# </div> #}
                                            {# <div class="r-offer-rewst-this"> #}
                                            {# <span class="text-uppercase"><a href="#" onclick="document.getElementById('book1').submit();">Réserver cette voiture</a></span> #}
                                            {# </div> #}
                                            {# </div> #}
                                            {# </div> #}
                                            <div class="r-best-offer-single">
                                                <div class="r-best-offer-in">
                                                    <div class="r-offer-img">
                                                        <a class="d-inline-block" href="booking0e5f.html?vhid=1"><img
                                                                    src="{{ asset('admin/img/voiture/'~voiture.image) }}"
                                                                    class="img-fluid d-block m-auto" alt=""></a>

                                                    </div>
                                                    <div class="r-best-offer-content">
                                                        <a href="booking0e5f.html?vhid=1"><b>{{ voiture.marque }}</b> {{ voiture.categorie }}
                                                        </a>
                                                        <p><b>190 €</b> /Jour</p>


                                                        <ul class="pl-0 mb-0">
                                                            <li>
                                                                <i class="fa fa-car"></i><span>{{ voiture.annee }}</span>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-cogs"></i><span>{{ voiture.transmission }}</span>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-beer"></i><span>{{ voiture.carburant }}</span>
                                                            </li>
                                                            <li><i class="fa fa-users"></i><span>5</span></li>
                                                            <li>
                                                                <i class="fa fa-briefcase"></i><span>{{ voiture.puissance }}L</span>
                                                            </li>
                                                            <li><i class="fa fa-snowflake-o"></i><span>Oui</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="r-offer-rewst-this">
                                                        {# <span class="text-uppercase"><a href="#" onclick="document.getElementById('book1').submit();">Réserver cette voiture</a></span> #}
                                                        <span class="text-uppercase">
                                                            <a
                                                                    onclick="sendVoiture({{ voiture.id }}, '{{ voiture.marque }}')"
                                                                    id="{{ voiture.marque }}"
                                                                    href="#"
                                                            >Réserver cette voiture</a></span>
                                                    </div>
                                                </div>
                                            </div>


                                        </form>

                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>


        $("#datetimepicker2").on("change", function() {
            // console.log("Got change event from field");
            var selected = $(this).val();
            selected = new Date(Date.parse(selected));
            selected.setDate(selected.getDate() + 2)
            var month = selected.getMonth() + 1;
            var day = selected.getDate();
            var year = selected.getFullYear();
            if(month < 10)
                month = '0' + month.toString();
            if(day < 10)
                day = '0' + (day).toString();
            var maxDate2 = year + '-' + month + '-' + day;
            $('#datetimepicker3').attr('min', maxDate2).attr('value', maxDate2);
            console.log(selected);
            // $('#txtDate2').attr('min', maxDate2).attr('value', maxDate2);
        });

        function sendVoiture(id, marque) {

            let lieu_prise = document.getElementById('lieu_prise').value;
            let lieu_reprise = document.getElementById('lieu_reprise').value;
            let date_prise = $('#datetimepicker2').data("date");
            let date_reprise = $('#datetimepicker3').data("date");
            let heure_debut = document.getElementById('heure_debut').value;
            let heure_fin = document.getElementById('heure_fin').value;
            document.getElementById(marque).href="{{ path('app_get_reservation') }}?id="+id
                +"&lieu_prise="+lieu_prise+"&lieu_reprise="+lieu_reprise+"&date_prise="+date_prise
                +"&date_reprise="+date_reprise+"&heure_debut="+heure_debut+"&heure_fin="+heure_fin;
        }


    </script>
{% endblock %}
